{% extends 'base.html' %}
{% block content %}
<style>
  .container {
    padding: 0 20px;
  }

  .member {
    display: flex;
    align-items: center;
    gap: 15px;
    transition: background-color 0.3s ease;
  
  }

  a {
    text-decoration: none;
  }

  .profile-photo {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    flex-shrink: 0;
    object-fit: cover;
    transition: transform 0.3s ease;
  }

  .placeholder-photo {
    width: 30px;
    height: 30px;
    background-color: #ccc;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease;
  }
  a:hover {
    color: #4CAF50;
  }
  .line {
    height: 1px;
    background-color: #2c2b2b;
    margin:10px 0;
  }
</style>

<div class="title">Members</div>

<div class="container">
  {% for member in members %}
  <div class="member">
    <div class="photo">
      {% if member.photo %}
      <img src="{{ member.photo.url }}" alt="{{ member.name }} Photo" class="profile-photo" />
      {% else %}
      <div class="placeholder-photo">
        <i class="fas fa-user fa-1x"></i>
      </div>
      {% endif %}
    </div>
    <a href="{% url 'user_profile' member.id %}">{{ member.name }}</a>
  </div>
  <div class="line"></div>
  {% endfor %}

</div>
{% endblock %}
