{% extends 'base.html' %}
{% block content %}
<style>
    .container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        margin-top: 50px;
    }

    img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        flex-shrink: 0;
        object-fit: cover;
        transition: transform 0.3s ease;
    }

    .placeholder-photo {
        width: 40px;
        height: 40px;
        background-color: #ccc;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: transform 0.3s ease;
    }
   
</style>
<div class="container">
    <div class="user-profile">
        <div class="user-avatar">
            {% if user.photo %}
            <img src="{{ user.photo.url }}" alt="{{ member.name }} Photo" class="profile-photo" />
            {% else %}
            <div class="placeholder-photo">
                <i class="fas fa-user fa-1x"></i>
            </div>
            {% endif %}
        </div>
        <div class="user-details">
            <div class="title">{{user.name}}</div>
            <div class="fields">
                <i class="fa-solid fa-house"> </i>    
                <div> {{ user.village }}</p></div>
              
            </div>
            
            <p>Membership Start Date:</strong> {{ user.membership_start_date }}</p>
            <p>Membership End Date:</strong> {{ user.membership_end_date }}</p>
        </div>
    </div>
</div>

{% endblock %}
